<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>尖猫招聘</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">

  <link rel="stylesheet" href="../../zfile/base.css" media="all">
  <link rel="stylesheet" href="commonStyle.css" media="all">

</head>
<body>
  <div class="top_wrap">
    <img class="back" src="../../zfile/img/back.png" alt="返回">
    <p class="title">申请入驻职业经纪人</p>
  </div>
  
  <form class="layui-form" action="">
  <div class="inputs_wrap">
    <div class="input_wrap">
      <p class="title">手机号</p>
      <div class="input_div">
        <input type="text" placeholder="请输入手机号"/>
      </div>
    </div>
    <div class="input_wrap">
      <p class="title">验证码</p>
      <div class="input_div">
        <input type="text" placeholder="请输入验证码"/>
        <p class="btn getcode">获取验证码</p>
      </div>
    </div>
    
    <div class="input_wrap">
      <p class="title">密码</p>
      <div class="input_div">
        <input type="text" placeholder="请输入6-12位密码"/>
      </div>
    </div>
    <div class="input_wrap">
      <p class="title">姓名</p>
      <div class="input_div">
        <input type="text" placeholder="请输入您的姓名"/>
      </div>
    </div>
    <div class="input_wrap">
      <p class="title">身份证</p>
      <div class="input_div">
        <input type="text" placeholder="请输入身份证号"/>
      </div>
    </div>
    <div class="input_wrap">
      <p class="title">所在地区</p>
      <div class="input_div address_select_wrap">
        <select name="" id="" >
          <option value="" >请选择省份</option>
        </select>
        <select name="" id="" >
          <option value="" >请选择市</option>
        </select>
        <select name="" id="" >
          <option value="" >请选择区</option>
        </select>
      </div>
      <p class="select_tips">温馨提示：请选择您想服务的门店所在的地区</p>
    </div>
    <div class="input_wrap">
      <p class="title">服务门店</p>
      <div class="input_div">
        <select name="" id="" >
          <option value="" >请选择您想服务的门店</option>
        </select>
      </div>
    </div>

  </div>

  <p class="tips">提交申请后，审核通过将有短信通知，注意查收</p>

  <div class="readme_wrap">
    <img class="radio radio_normal" src="../../zfile/img/rem_nor.png" />
    <img class="radio radio_checked" src="../../zfile/img/rem_click.png" />
    <!-- <input class="radio" type="radio" name="readme" lay-ignore /> -->
    <p class="readme">申请入驻前，请务必勾选并阅读<span>《尖猫招聘入驻合同》</span></p>
  </div>


  <button class="submit">提交申请</button>

  </form>

  <p class="copyright">Copyright © 2018 尖猫招聘有限企业</p>

  <script src="../../zfile/jquery.js"></script>
  <script src="../../zfile/rem.js"></script>
  <script src="../../layuiadmin/layui/layui.js"></script>
  <script src="commonJs.js"></script>
</body>
</html>