.content{
  width: 100%;
  height: 100vh;
  background: url('../image/login_bg@2x.png') no-repeat;
  background-size: 100% 100%;
  .header{
    box-sizing: border-box;
    width: 100%;
    height: .50rem;
    padding: .12rem;
    display: flex;
    align-content: center;
    .back-cion{
      width: .25rem;
      height: .25rem;
      background: url('../image/back@2x.png') no-repeat;
      background-size: 100% 100%;
    }
  }
  .main{
    width: 100%;
    height: 5.87rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
      box-sizing: border-box;
      width: 100%;
      height: auto;
      font-size: .18rem;
      color: #fff;
      padding-top: .32rem;
      text-align: center;
    }
    .tab{
      width: 100%;
      height: .4rem;
      margin-top: .7rem;
      position: relative;
      .tab-title{
        width: 100%;
        height: 100%;
        display: flex;
        align-content: center;
        li{
          width: 33.3%;
          height: 100%;
          font-size: .15rem;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        li.tab-active{
          font-weight: 600;
        }
      }
      .position-line{
        position: absolute;
        bottom: 0;
        width: 33.3%;
        transition: left .1s linear;
        .line{
          width: 25%;
          height: .02rem;
          background-color: #fff;
          margin: 0 auto;
          border-radius: 1px;
        }
      }
    }
    .form{
      box-sizing: border-box;
      width: 100%;
      height: auto;
      padding: .4rem .325rem;
      .input-group{
        width: 3.1rem;
        height: .5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 3px;
        background-color: #fff;
        margin-bottom: .2rem;
        overflow: hidden;
        .label{
          width: .5rem;
          height: .5rem;
        }
        .user-icon{
          background: url('../image/login_my@2x.png') no-repeat center center;
          background-size: .2rem .2rem;
        }
        .password-icon{
          background: url('../image/login_password@2x.png') no-repeat center center;
          background-size: .2rem .2rem;
        }
        .input{
          flex: 1;
          padding: 0 .05rem;
        }
        .close{
          display: none;
          width: .5rem;
          height: .5rem;
          background: url('../image/input_delay@2x.png') no-repeat center center;
          background-size: .2rem .2rem;
        }
        .eye-show{
          width: .5rem;
          height: .5rem;
          background: url('../image/input_xs@2x.png') no-repeat center center;
          background-size: .2rem .2rem;
        }
        .eye-hidden{
          width: .5rem;
          height: .5rem;
          background: url('../image/input_password_unsee@2x.png') no-repeat center center;
          background-size: .2rem .2rem;
        }
        .code-btn{
          width: .88rem;
          height: .35rem;
          margin-right: .05rem;
          font-size: .13rem;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #269C9E;
          border-radius: 2px;
        }
      }
      .bottom{
        width: 3.1rem;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: .4rem;
        .left{
          display: flex;
          align-items: center;
          .check{
            width: .11rem;
            height: .11rem;
            background: url('../image/rem_w_nor@2x.png') no-repeat;
            background-size: 100% 100%;
          }
          .check-active{
            width: .11rem;
            height: .11rem;
            background: url('../image/rem_w_click@2x.png') no-repeat;
            background-size: 100% 100%;
          }
          .text{
            font-size: .13rem;
            color: #C2F4F5;
            padding-left: .13rem;
          }
        }
        .right{
          font-size: .13rem;
          color: #F6D72C;
        }
      }
      .to-login{
        padding-top: .2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .text{
          font-size: .15rem;
          color: #fff;
        }
        .jt{
          width: .12rem;
          height: .12rem;
          background: url('../image/login_go@2x.png') no-repeat;
          background-size: 100% 100%;
        }
      }
      .btn{
        width: 3.1rem;
        height: .44rem;
        background-color: #fff;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .16rem;
        font-weight: 600;
        color: #2A9B9D;
      }
    }
    #reset-form{
      display: none;
    }
    .apply-type{
      width: 3.1rem;
      height: auto;
      display: flex;
      align-content: center;
      justify-content: space-between;
      .item{
        align-content: center;
        display: block;
        font-size: .13rem;
        color: #fff;
        .text-color{
          color: #F8DF59;
        }
      }
    }
  }
  .footer{
    width: 100%;
    height: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    a{
      display: block;
      width: 100%;
      height: auto;
      text-align: center;
      font-size: .11rem;
      color: #fff;
    }
  }
}
